<ul class="breadcrumb">
  <li>
    <a href="<%= cpanel_homes_path %>">首页</a>
  </li>
</ul>
<h2 style="padding: 5px 0px;font-size: 24px;color: rgb(144, 138, 138);">
    <span class="text-uppercase">Welcome to </span>
    <span style="background-color: #f98235;display: inline-block;padding: 0px 20px;color: white;">蚂蚁工作平台</span>
</h2>
