<div class="footer">
  <div class="layout">
    <div class="site-info">
      <p class="links">
        <a target="_blank" href="/document/about">关于我们</a>
        <span>|</span>
        <a target="_blank" href="/document/contact">联系我们</a>
        <span>|</span>
        <a target="_blank" href="/document/supplier">商务合作</a>
        <span>|</span>
        <a href="http://www.manyitou.com/" title="满意投" target="_blank">满意投</a>
        <span>|</span>
        <a href="http://www.woniujie.cn" title="微分销" target="_blank">微分销</a>
      </p>
      <p class="copyright">版权所有 © 2015 蚂蚁特卖. 北京水木华哲网络科技有限公司
      </p>
      <p class="icp">京 ICP备14028259号
      </p>
    </div>
  </div>
</div>
