<header id="vip-common-header" class="header vip-common-header">
  <nav class="top-nav">
    <div id="J_top_nav" class="head-inner">
      <!-- 选择分区 -->
      <div class="sel-area">
        <div class="sel-area-change" id="J_areaSelect_btn" mars_sead="home_header_location">
          <div class="sel-area-btn"><span id="J_selected_province" class="fl">北京</span><i class="ico-dis"></i></div>
          <div class="sel-area-box" id="J_area_content">
            <div class="sel-area-box-inner" id="J-areaBinner">
              <i class="ico-arw"></i>
              <p class="sab-tit">请选择所在的收货地区</p>
              <table class="sab-table" mars_sead="home_top_zone_link">
                <tbody><tr>
                  <th>A</th>
                  <td>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_SH" data-id="103104">安徽</span>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_NH" data-id="104108">澳门</span>
                  </td>
                </tr>
                <tr>
                  <th>B</th>
                  <td>
                    <span class="J_select_item selected" mars_sead="te_home_head_diqu_link" data-wh="VIP_BJ" data-id="101101">北京</span>
                  </td>
                </tr>
                <tr>
                  <th>C</th>
                  <td>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_CD" data-id="105100">重庆</span>
                  </td>
                </tr>
                <tr>
                  <th>F</th>
                  <td>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_NH" data-id="103105">福建</span>
                  </td>
                </tr>
                <tr>
                  <th>G</th>
                  <td>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_NH" data-id="104104">广东</span>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_NH" data-id="104105">广西</span>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_CD" data-id="105102">贵州</span>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_CD" data-id="106102">甘肃</span>
                  </td>
                </tr>
                <tr>
                  <th>H</th>
                  <td>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_BJ" data-id="101103">河北</span>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_HZ" data-id="104101">河南</span>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_BJ" data-id="102103">黑龙江</span>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_NH" data-id="104106">海南</span>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_HZ" data-id="104102">湖北</span>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_HZ" data-id="104103">湖南</span>
                  </td>
                </tr>
                <tr>
                  <th>J</th>
                  <td>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_SH" data-id="103102">江苏</span>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_BJ" data-id="102102">吉林</span>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_HZ" data-id="103106">江西</span>
                  </td>
                </tr>
                <tr>
                  <th>L</th>
                  <td>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_BJ" data-id="102101">辽宁</span>
                  </td>
                </tr>
                <tr>
                  <th>N</th>
                  <td>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_BJ" data-id="101105">内蒙古</span>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_CD" data-id="106104">宁夏</span>
                  </td>
                </tr>
                <tr>
                  <th>Q</th>
                  <td>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_CD" data-id="106103">青海</span>
                  </td>
                </tr>
                <tr>
                  <th>S</th>
                  <td>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_SH" data-id="103101">上海</span>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_SH" data-id="103107">山东</span>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_BJ" data-id="101104">山西</span>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_CD" data-id="105101">四川</span>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_CD" data-id="106101">陕西</span>
                  </td>
                </tr>
                <tr>
                  <th>T</th>
                  <td>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_NH" data-id="104109">台湾</span>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_BJ" data-id="101102">天津</span>
                  </td>
                </tr>
                <tr>
                  <th>X</th>
                  <td>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_CD" data-id="105104">西藏</span>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_NH" data-id="104107">香港</span>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_CD" data-id="106105">新疆</span>
                  </td>
                </tr>
                <tr>
                  <th>Y</th>
                  <td>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_NH" data-id="105103">云南</span>
                  </td>
                </tr>
                <tr>
                  <th>Z</th>
                  <td>
                    <span class="J_select_item" mars_sead="te_home_head_diqu_link" data-wh="VIP_SH" data-id="103103">浙江</span>
                  </td>
                </tr>
              </tbody></table>
            </div>
          </div>
        </div>
      </div>
      <ul class="top-nav-tool" id="J-topNavTool">
        <li class="wp-my">
          <ul id="J_head_log" class="login-before login_before">
            <li class="wp-user" data-hover="wp-user-hover">
              <span class="user-in" id="J_user_logined" style="display: none;">
                <a id="J_viplevel" href="http://club.vip.com/index.php" class="user-in-vip"><i></i></a>
                <a href="//myi.vip.com/index.html" target="_blank" class="user-in-name">{$J_header_account} </a>
                <i class="ico-dis"></i>
              </span>
              <p class="hidden top-nav-inf" id="J_user_unLogin">
                <span class="top-nav-inf-pc">
                  <a href="#" mars_sead="home_top_nav2_login" class="J_header_lnkLogin" rel="nofollow">
                    <em class="name">{$J_header_account}</em>/登录
                  </a>
                  <i class="ico-dis"></i>
                </span>
                <span class="top-nav-inf-ipad">
                  <a href="http://myi.vip.com" target="_blank">个人中心</a>
                  <a href="#" class="J-logoutBtn">退出</a>
                </span>
              </p>
              <span class="user-noid" id="J_user_noId">
                <a href="#" mars_sead="home_top_nav2_login" class="J_header_lnkLogin" rel="nofollow">登录</a> |
                <a href="#" mars_sead="home_top_nav2_reg" class="J_header_lnkRegister" rel="nofollow">注册</a> |
              </span>
              <div class="top-nav-dis user-infor" id="J_userInfo">
                <i class="ico-arw"></i>
                <div class="top-nav-inf">
                  <p id="J_uInfo_name" style="display: none;"><span class="name">{$J_header_account}</span>，感谢回来</p>
                  <a href="#" mars_sead="home_top_nav2_login" class="i-btn J_header_lnkLogin" rel="nofollow">马上登录</a>
                  <a href="#" mars_sead="home_top_nav2_reg" class="i-link J_header_lnkRegister" rel="nofollow">免费注册</a>
                </div>
                <div class="top-nav-pic">
                  <p class="top-nav-pic-hd"></p>
                  <a href="//myi.vip.com/index.html" target="_blank"><img id="J_userAvatar" mars_sead="top_nav2_log_my2" src="//s2.vipstatic.com/img/te/blank.png" data-original="//s2.vipstatic.com/img/te/common/avatar-default.jpg" width="60" height="60"></a>
                  <a href="//myi.vip.com/index.html" target="_blank" id="J_nPic_name" mars_sead="top_nav2_log_my">{$J_header_account}</a>
                </div>
                <p class="top-nav-list">
                  <span>
                    <a href="//fav.vip.com/index.php?r=/fav/brand" mars_sead="home_top_nav2_log_collect" target="_blank">我的收藏</a>
                  </span>
                  <span>
                    <a href="//order.vip.com/order/orderlist" mars_sead="home_top_nav2_log_order" target="_blank">我的订单</a>
                  </span>
                  <span>
                    <a href="//myi.vip.com/myPurse.html" mars_sead="home_top_nav2_log_wallet" target="_blank">我的钱包</a>
                  </span>
                  <span>
                    <a href="//myi.vip.com/coupons.html" mars_sead="home_top_nav2_log_coupon" target="_blank">我的优惠券</a>
                  </span>
                  <span>
                    <a href="//myi.vip.com/vipmoney.html" mars_sead="home_top_nav2_log_vipmoney" target="_blank">我的唯品币</a>
                  </span>
                  <span>
                    <a href="//myi.vip.com/integral.html" mars_sead="home_top_nav2_log_jd" target="_blank">我的积分</a>
                  </span>
                  <span id="J_user_msg" style="display: none;">
                    <a href="//myi.vip.com/messageCenter.html" mars_sead="home_top_nav2_log_message" target="_blank">最新消息</a>
                    <i id="J_user_msgIcon" class="ico-myinfor hidden" title="查看我的信息"></i>
                  </span>
                </p>
                <p class="top-nav-ft">
                  <span>
                    [<a href="#" id="J_header_lnkLogOut" mars_sead="home_top_nav2_log_logout">退出</a>]
                  </span>
                </p>
              </div>
            </li>
          </ul>
        </li>
        <li class="wp-order" data-hover="wp-order-hover">
          <span class="order-in">
            <a href="//order.vip.com/order/orderlist" mars_sead="home_top_nav2_order" target="_blank" rel="nofollow">我的订单</a>
            <i class="ico-dis"></i>
          </span>
          <div class="order-infor">
            <i class="ico-arw"></i>
            <a rel="nofollow" target="_blank" mars_sead="home_top_nav2_return" href="//order.vip.com/order/returnlist">自助退货</a>
          </div>
        </li>
        <!-- 增加一个hover ww  -->
        <li class="wp-service wp-fav-nav" data-hover="wp-fav-nav-hover" id="J-favs">
          <span class="service-in">
            <a href="//fav.vip.com/index.php?r=/fav/brand" target="_blank" mars_sead="home_top_nav2_collect" rel="nofollow">我的收藏夹</a>
            <i class="ico-dis"></i>
          </span> |
          <div class="top-nav-dis service-infor fav-nav-drop">
            <i class="ico-arw"></i>
            <p class="top-nav-list">
              <span><a href="//fav.vip.com/index.php?r=/fav/brand" target="_blank" mars_sead="home_top_nav2_brand" rel="nofollow">收藏的品牌(<i id="J_favBrand_count">0</i>)</a></span>
              <span><a href="//fav.vip.com/index.php?r=/fav/goods" target="_blank" mars_sead="home_top_nav2_product" rel="nofollow">收藏的商品(<i id="J_favCommodity_count">0</i>)</a></span>
            </p>
          </div>
        </li>
        <li class="wp-card"><a href="http://vipcard.vip.com/" target="_blank" mars_sead="home_top_nav1_vipcard" rel="nofollow">唯品卡</a></li>
        <li class="wp-ncard"><a href="http://n.vip.com/BvENNb4d" target="_blank" mars_sead="home_top_nav1_ncard" rel="nofollow">联名卡申请</a></li>
        <li class="wp-jf"><a href="http://jf.vip.com/" target="_blank" mars_sead="home_top_nav2_jf" rel="nofollow">积分兑换</a></li>
        <li class="wp-club"><a href="http://club.vip.com/" target="_blank" mars_sead="home_top_nav2_club" rel="nofollow">会员俱乐部</a></li>
        <li class="wp-fashion"><a href="http://fashion.vip.com/" mars_sead="home_top_nav1_fas" target="_blank">时尚会</a></li>
        <li class="wp-service" data-hover="wp-service-hover">
          <span class="service-in">
            客户服务
            <i class="ico-dis"></i>
          </span>
          <!-- 客服中心详情 -->
          <div class="top-nav-dis service-infor">
            <i class="ico-arw"></i>
            <p class="top-nav-list">
              <span>
                <a href="http://acs.vip.com/" mars_sead="home_top_nav2_kefu" target="_blank" rel="nofollow">联系客服</a>
              </span>
              <span>
                <a href="http://help.vip.com/" mars_sead="home_top_nav2_help" target="_blank" rel="nofollow">帮助中心</a>
              </span>
              <span>
                <a href="http://feedback.vip.com/feedback!hotFeedback.do" mars_sead="home_top_nav2_feedback" target="_blank" rel="nofollow">会员反馈</a>
              </span>
            </p>
          </div>
          <!-- 客服中心详情end -->
        </li>
        <li class="wp-phone" data-j-hover="wp-phone-hover" id="J_phone_tip">
          <span class="phone-in"><a href="http://m.vip.com/app" target="_blank" mars_sead="top_nav2_m" rel="nofollow">手机版<i class="ico-mob"></i></a></span>
          <!-- 手机版详情 -->
          <div class="top-nav-dis phone-infor" id="J_phoneTip_con">
            <i class="ico-arw"></i>
            <span class="phone-close hidden" id="J_phone_close"></span>
            <div class="tc" id="J_phoneTips_wrap">
              <a href="http://m.vip.com/app/?f=nav" target="_blank">
                <img mars_sead="top_nav2_m_pic" src="http://a.vpimg3.com/upload/dop/2015/02/12/142/app_dl.png" width="100" height="100" alt="二维码">
              </a>
              <p>
                <a href="http://m.vip.com/app/?f=nav" target="_blank">随时逛 及时抢</a>
              </p>
            </div>
          </div>
          <!-- 手机版详情end -->
        </li>
        <!-- ipad 添加其他-->
        <li class="top-nav-more" data-touch="top-nav-more-hover">
          <span class="top-nav-more-tit">
            其他<i class="ico-dis"></i>
          </span>
          <p class="top-nav-more-cnt">
            <a href="http://order.vip.com/order/orderlist" target="_blank" mars_sead="home_top_nav2_order" rel="nofollow" class="top-more-ipadlink01">我的订单</a>
            <a href="//fav.vip.com/index.php?r=/fav/brand" target="_blank" mars_sead="home_top_nav2_collect" rel="nofollow" class="top-more-ipadlink02">我的收藏</a>
            <a href="http://vipcard.vip.com/" target="_blank" mars_sead="home_top_nav1_vipcard" rel="nofollow" class="top-more-ipadlink02">唯品卡</a>
            <a href="http://n.vip.com/BvENNb4d" target="_blank" mars_sead="home_top_nav1_ncard" rel="nofollow" class="top-more-ipadlink04">联名卡</a>
            <a href="http://jf.vip.com/" target="_blank" mars_sead="home_top_nav2_jf" rel="nofollow" class="top-more-ipadlink05">积分兑换</a>
            <a href="http://club.vip.com/" target="_blank" mars_sead="home_top_nav2_club" rel="nofollow" class="top-more-ipadlink06">会员俱乐部</a>
            <a href="http://fashion.vip.com/" target="_blank" mars_sead="home_top_nav1_fas" class="top-more-ipadlink07">时尚会</a>
            <a href="http://acs.vip.com/" target="_blank" mars_sead="home_top_nav2_kefu" class="top-more-ipadlink08">联系客服</a>
            <a href="http://help.vip.com/" target="_blank" mars_sead="home_top_nav2_help" class="top-more-ipadlink09">帮助中心</a>
            <a href="http://feedback.vip.com/feedback!hotFeedback.do" target="_blank" mars_sead="home_top_nav2_feedback" class="top-more-ipadlink10">会员反馈</a>
          </p>
        </li>
      </ul>
    </div>
  </nav>
  <div class="head-logo">
    <div class="head-inner">
      <div class="header-logo-dop">
        <a target="_blank" href="http://www.vip.com" mars_sead="home_header_vip_logo"><img src="http://a.vpimg3.com/upload/dop/2015/05/31/96/logo_cct.gif" alt="一家专门做特卖的网站" id="J-vipLogo">
        </a>
      </div>
      <!-- 购物车 -->
      <div id="J_head_cart" class="head-cart head-bag-car J_cart_ico" data-hover="head-cart-hover">
        <div class="tool" id="J_shortTime">
          <a href="http://cart.vip.com/te2/" mars_sead="home_top_bag_button" target="_blank" rel="nofollow">
            <i class="ico-arrc"></i>
            <i class="ico-bag" title="查看我的购物袋"></i>
            购物袋<span id="J_skuCount_container">(<span class="nub" id="J_skuCount">0</span>)</span>
          </a>
        </div>
        <div class="tool-cn" id="J_headCartList_wrap" style="display: none;">
          <div class="tool-cn-inner">
            <div class="tool-cn-in">
              <p>你的购物袋还没有商品，再去逛逛吧~</p>
            </div>
          </div>
        </div>
      </div>
      <!-- 购物车end -->
      <div class="header-vip">
        <a href="http://support.vip.com/insurance/" mars_sead="home_header_vip1" target="_blank">
          <img src="http://a.vpimg2.com/upload/dop/2014/09/24/79/HEADERVIP1_gxf.png" height="40">
        </a>
        <a href="http://help.vip.com/commitment.php" mars_sead="home_header_vip2" target="_blank">
          <img src="http://a.vpimg2.com/upload/dop/2014/09/24/152/HEADERVIP2_k3d.png" height="40">
        </a>
        <a href="http://help.vip.com/commitment.php" mars_sead="home_header_vip3" target="_blank">
          <img src="http://a.vpimg4.com/upload/dop/2014/09/24/146/HEADERVIP3_wzf.png" height="40">
        </a>
      </div>
    </div>
  </div>
  <nav class="main-nav">
    <div class="head-inner">
      <div class="nav-search" style="*width:200px" id="J_nav_search"><form id="searchform_J_nav_search" class="searchform" style="margin-top: 4px;" method="get" target="_blank" action="http://search.vip.com/search" onsubmit="return search('J_nav_search')">
        <div class="searchbox">
          <input id="searchkw_J_nav_search" class="searchkw ui-autocomplete-input" name="searchkw" type="text" placeholder="搜索品牌或分类" autocomplete="off" maxlength="50">
          <div style="cursor:pointer;border:0px solid red;float:left;width:21px;height:22px;margin-top:0px;" onmouseover="setdefaultkey('J_nav_search')" onmouseout="cancelDefaultKey('J_nav_search')" onclick="frmSubmit('J_nav_search')"></div>
          <input id="cate_J_nav_search" name="cate" type="hidden" style="width:1px;">
          </div><ul id="ul-id-J_nav_search" class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" tabindex="0" style="display: none;"></ul></form><span id="vip_search_default_word" style="display:none;">["女装"]</span>
        </div>
        <ul class="main-nav-link J_main_nav_link">
          <li><a href="http://www.vip.com" class="current" mars_sead="home_header_channel_1">首页</a></li>
          <li><a href="http://beauty.vip.com/" mars_sead="home_header_channel_2">美妆</a></li>
          <li><a href="http://kid.vip.com" mars_sead="home_header_channel_3">亲子</a></li>
          <li><a href="http://home.vip.com" mars_sead="home_header_channel_4">居家</a></li>
          <li><a href="http://act.vip.com/8146.html?f=dh" mars_sead="home_header_channel_5">男士</a></li>
          <li><a href="http://global.vip.com/" mars_sead="home_header_channel_6">全球特卖</a></li>
          <li><a href="http://act.vip.com/9137.html" mars_sead="home_header_channel_7"><img src="http://a.vpimg2.com/upload/dop/2014/12/09/196/HOMETOMORROW_fdU.png">明天上线</a></li>
          <li><a href="http://category.vip.com" mars_sead="home_header_channel_8"><img src="http://a.vpimg4.com/upload/dop/2014/12/11/18/category_mlV.png">在售分类</a></li>
        </ul>
      </div>
    </nav>
  </header>
