<style>

.container {
	margin-top: 10px;
}

h3 {
	font-size: 18px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}
#content {
	padding-top: 10px;
}
</style>
  <!-- 主体内容区域 -->
  <div class="container">
    <h3><%= @article.title %></h3>
    <div id="content">
    <%= @article.content.html_safe %>
    </div>

  </div>
