<%= form_for(@hao) do |f| %>
  <% if @hao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hao.errors.count, "error") %> prohibited this hao from being saved:</h2>

      <ul>
      <% @hao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
