<div class="position"> <a href="http://i.firefoxchina.cn/">蚂蚁特卖</a> > 关于我们</div>
<div class="wrap">
    <table cellpadding="0" cellspacing="0" width="100%" border="0" class="box">
        <tbody>
            <tr>
                <td class="side" valign="top">
                    <ul class="navul level0">
                        <li class="current">
                            <%= link_to '关于我们', {controller: "document", action: "about"} %>
                        </li>
                        <li>
                            <%= link_to '联系我们', {controller: "document", action: "contact"} %>
                        </li>
                        <li>
                            <%= link_to '商务合作', {controller: "document", action: "supplier"} %>
                        </li>
                    </ul>
                </td>
                <td class="main" valign="top">
                    <div class="page">
                        <div class="title">关于我们</div>
                        <div class="content">
                            <p>蚂蚁特卖是一家为您提供品牌商品打折信息的平台，</p>
                            <p>每天这里有至少上百种的品牌商家在此发布打折信息。</p>
                            <p>商品涵盖了潮流女装、时尚男装、箱包、鞋帽、美妆、母婴等众多品类。</p>
                            <p>希望您能在蚂蚁特卖网花最少的钱购买到最超值的商品！</p>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
