<div class="position"> <a href="http://www.mayitemai.com/">蚂蚁特卖</a> > 联系我们</div>
<div class="wrap">
    <table cellpadding="0" cellspacing="0" width="100%" border="0" class="box">
        <tbody>
            <tr>
                <td class="side" valign="top">
                    <ul class="navul level0">
                        <li>
                            <%= link_to '关于我们', {controller: "document", action: "about"} %>
                        </li>
                        <li class="current">
                            <%= link_to '联系我们', {controller: "document", action: "contact"} %>
                        </li>
                        <li>
                            <%= link_to '商务合作', {controller: "document", action: "supplier"} %>
                        </li>

                    </ul>
                </td>
                <td class="main" valign="top">
                    <div class="page">
                        <div class="title">联系我们</div>
                        <div class="content">
                            <p>公司名称：北京水木华哲网络科技有限公司</p>
                            <p>地址：北京市通州区北苑南路16号46幢C7019</p>
                            <p>网址：<a href="http://www.mayitemai.com">www.mayitemai.com</a></p>
                            <p>客服QQ：626131696、771586953、1150376392</p>
                            <p>媒体资源合作：QQ：417669527</p>
                        </div>
                        <br>
                        <h2>
                            广告合作客户请支付到本公司唯一指定账号
                        </h2>
                        <p>企业名称：北京水木华哲网络科技有限公司</p>
                        <p>企业开户行：中国建设银行股份有限公司北京建国门外大街支行</p>
                        <p>企业账号：11001079000053003898</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
