<div class="position"> <a href="http://www.mayitemai.com/">蚂蚁特卖</a> > 商务合作</div>
<div class="wrap">
    <table cellpadding="0" cellspacing="0" width="100%" border="0" class="box">
        <tbody>
            <tr>
                <td class="side" valign="top">
                    <ul class="navul level0">
                        <li>
                            <%= link_to '关于我们', {controller: "document", action: "about"} %>
                        </li>
                        <li>
                            <%= link_to '联系我们', {controller: "document", action: "contact"} %>
                        </li>
                        <li class="current">
                            <%= link_to '商务合作', {controller: "document", action: "supplier"} %>
                        </li>
                    </ul>
                </td>
                <td class="main" valign="top">
                    <div class="page">
                        <div class="title">商务合作</div>
                        <div class="content">
                            <p>如果您的店铺需要我们网站的收录，或者您需要在本站进行资源合作，</p>
                            <p>请您联系我们的客服人员。以下是收录店铺的标准：</p>
                            <p>店铺要求：天猫旗舰店、淘宝C店（3钻石以上级别）</p>
                            <p>动态评分：不低于4.6分</p>
                            <p>店铺关注：不低于5000</p>
                            <p>店铺宝贝数量：不低于20款</p>
                            <p>上架产品要求：不高于历史销售最低价</p>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
