<!DOCTYPE html>
<html>
  <head>
    <title>蚂蚁特卖-大牌商品 超值特卖！</title>
    <link href="http://7xioz9.com2.z0.glb.qiniucdn.com/normalize.css" rel="stylesheet" />
    <link href="http://7xioz9.com2.z0.glb.qiniucdn.com/index-d01ac96d260a31bef5a8084cc7c8bc91.css" rel="stylesheet" />
    <script type="text/javascript" src="http://7xioz9.com2.z0.glb.qiniucdn.com/jquery.min.js"></script>
    <script type="text/javascript" src="http://7xioz9.com2.z0.glb.qiniucdn.com/lazyLoading.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
      $("img.lazy").lazyload();
    });
    </script>
  </head>
  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <div style="display:none;">
      <script src="http://s4.cnzz.com/z_stat.php?id=1255160664&web_id=1255160664" language="JavaScript"></script>
    </div>
  </body>
</html>



