<!DOCTYPE html>
<html>
  <head>
    <title>蚂蚁特卖 - 后台管理</title>
    <link href="http://7xioz9.com2.z0.glb.qiniucdn.com/normalize.css" rel="stylesheet" />
    <link href="http://7xioz9.com2.z0.glb.qiniucdn.com/index-ba4f675ba13c57c42b76e23a0c5e23dc.css" rel="stylesheet" />
    <script type="text/javascript" src="http://7xioz9.com2.z0.glb.qiniucdn.com/jquery.min.js"></script>
    <script type="text/javascript" src="http://7xioz9.com2.z0.glb.qiniucdn.com/lazyLoading.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
      $("img.lazy").lazyload();
    });
    </script>
  </head>
  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <div style="display:none;">
      <script src="http://s4.cnzz.com/z_stat.php?id=1255160664&web_id=1255160664" language="JavaScript"></script>
    </div>
  </body>
</html>



