<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>

    <!-- 系统组件 -->
    <link rel="stylesheet" type="text/css" href="http://7xioz9.com2.z0.glb.qiniucdn.com/h5normalize.css">
    <link rel="stylesheet" type="text/css" href="http://7xioz9.com2.z0.glb.qiniucdn.com/h5idangerous.swiper.css">
    <link rel="stylesheet" type="text/css" href="http://7xioz9.com2.z0.glb.qiniucdn.com/h5index.css">

    <!-- 轮播图组件 -->
    <script src="http://7xioz9.com2.z0.glb.qiniucdn.com/h5idangerous.swiper.min.js" type="text/javascript"></script>
  </head>






  <body>
    <!-- 主体内容区域 -->
  <div class="container">

    <!-- 开始 - 手机轮播图 -->
      <div class="swiper-container">
          <div class="swiper-wrapper">
    <div class="swiper-slide">
                <a href="#">
                  <img src="http://7xioz9.com2.z0.glb.qiniucdn.com/htimages/banner_1.png" />
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <img src="http://7xioz9.com2.z0.glb.qiniucdn.com/htimages/banner_2.png" />
                </a>
              </div>
          </div>
        <div class="swiper-pagination">
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
        </div>
      <script>
            var swiper = new Swiper('.swiper-container', {
              loop: true,
                pagination: '.swiper-pagination',
                paginationClickable: true,
            });
        </script>
      </div>
      <!-- 结束 - 手机轮播图 -->

<!-- 导航栏 -->
<div class="nav-box">
  <div class="nav-child-box">
    <div class="nav-item">
      <a href="#">
        <img src="http://7xioz9.com2.z0.glb.qiniucdn.com/htimages/channel%20classification_1.png" alt="今日特卖">
        <span>今日特卖</span>
       </a>
    </div>

    <div class="nav-item">
      <a href="#">
        <img src="http://7xioz9.com2.z0.glb.qiniucdn.com/htimages/channel%20classification_2.png" alt="面部护理">
        <span>面部护理</span>
      </a>
    </div >

    <div class="nav-item">
      <a href="#">
        <img src="http://7xioz9.com2.z0.glb.qiniucdn.com/htimages/channel%20classification_3.png" alt="彩妆香气">
        <span>彩妆香气</span>
      </a>
    </div>

    <div class="nav-item">
      <a href="#">
        <img src="http://7xioz9.com2.z0.glb.qiniucdn.com/htimages/channel%20classification_4.png" alt="男士护肤">
        <span>男士护肤</span>
      </a>
    </div>
  </div>
</div>
<!-- 结束 - 导航栏 -->

  <%= yield %>



  </body>
</html>



