<!DOCTYPE html>
<html>
  <head>
    <title>蚂蚁特卖 - 后台管理</title>
    <link href="http://7xioz9.com2.z0.glb.qiniucdn.com/normalize.css" rel="stylesheet" />
    <link href="http://7xioz9.com2.z0.glb.qiniucdn.com/index.css" rel="stylesheet" />
  </head>
  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>



