<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="keywords" content="淘宝，团购，商品团购，本地生活，团购大全，餐饮团购，化妆品团购，数码团购 " />
    <meta name="description" content="中国最大的团购网站，淘宝海量丰富团购商品，每日精选优良团购商品，全国团购成交量第一，品质生活保证 " />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>蚂蚁特卖 - 关于我们</title>
    <link rel="stylesheet" href="http://7xioz9.com2.z0.glb.qiniucdn.com/normalize.css" />
    <link rel="stylesheet" href="http://7xioz9.com2.z0.glb.qiniucdn.com/about.css" />
</head>
<body>
    <div class="head">
        <div class="wrap logo">
            <a href="http://www.mayitemai.com">
                <img src="http://7xioz9.com2.z0.glb.qiniucdn.com/logo.jpg">
            </a>
        </div>
    </div>
    <%= yield %>
    <div class="foot"><div class="wrap copyright">版权所有 © 2015 蚂蚁特卖. 北京水木华哲网络科技有限公司. 京 ICP备14028259号</div></div>
</body>
</html>
